<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>net.therap.enrollmentmanagement.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/course</url-pattern>
        <url-pattern>/enrollment</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>loggedInFilter</filter-name>
        <filter-class>net.therap.enrollmentmanagement.filter.LoggedInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loggedInFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
</web-app>